{% extends 'layouts/index.html' %}

{% block breadcrumb %}
    <span>history</span>
{% endblock %}

{% block content %}
    <table class="table__history">
        <thead>
            <tr>
                <th>no</th>
                <th>product</th>
                <th>price</th>
                <th>date</th>
                <th>status</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-table="no">1</td>
                <td data-table="product">bakso</td>
                <td data-table="price">Rp 10.000</td>
                <td data-table="date">10/10/2025</td>
                <td data-table="status">completed</td>
                <td data-table="action">
                    <div class="btn__group">
                        <button class="btn btn__secondary">edit</button>
                        <button class="btn btn__danger">delete</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-table="no">1</td>
                <td data-table="product">bakso</td>
                <td data-table="price">Rp 10.000</td>
                <td data-table="date">10/10/2025</td>
                <td data-table="status">completed</td>
                <td data-table="action">
                    <div class="btn__group">
                        <button class="btn btn__secondary">edit</button>
                        <button class="btn btn__danger">delete</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-table="no">1</td>
                <td data-table="product">bakso</td>
                <td data-table="price">Rp 10.000</td>
                <td data-table="date">10/10/2025</td>
                <td data-table="status">completed</td>
                <td data-table="action">
                    <div class="btn__group">
                        <button class="btn btn__secondary">edit</button>
                        <button class="btn btn__danger">delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}