:root {
    --txt-primary: rgb(236, 88, 29);
    --transition: all .3s ease-in-out;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 200vh;
    background-color: #fff;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
}

aside {
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: 3px 0 1px #00000007;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.brand a {
    text-decoration: none;
    color: #000;
}

.brand a h1 i span {
    color: var(--txt-primary);
}

.line__brand {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 1px;
    border-radius: 10px;
    background-color: #ddd;
}

nav {
    margin-top: 60px;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

nav ul li {
    list-style: none;
    background-color: salmon;
    padding: 1rem 2.5rem;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: capitalize;
    color: #fff;
}

nav ul li.active {
    background-color: var(--txt-primary);
}

nav ul li.active a {
    color: #fff;
}

nav ul a {
    text-decoration: none;
}

@media screen and ( max-width : 768px ) {
    aside {
        width: 100px;
    }

    .brand a h1 {
        font-size: 1.9rem;
    }

    nav ul li {
        padding: 1rem;
        border-radius: 10px;
    }

    .nav__link span {
        display: none;
    }
}


/* content */
.content  {
    width: calc(100% - 250px);
    min-height: 100vh;
    margin-left: 250px;
    padding: 1rem;
}

@media screen and ( max-width : 768px ) {
    .content  {
        width: calc(100% - 100px);
        min-height: 100vh;
        margin-left: 100px;
        padding: 1rem;
    }
}